@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
/*-------------------------------------------------section-1--------------------------------------------------*/
.main-1-img {
  object-fit: cover;
  display: block;
}

.main-1-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  background-color: #d5eaec;
  text-align: center;
}

.new-collection {
  font-family: "Dancing Script", cursive;
  font-size: 26px;
  font-style: italic;
  letter-spacing: 0.05em;
  color: #292f2f;
  margin-left: 15%;
  margin-bottom: 5px;
}

.style-walls {
  font-size: 100px;
  line-height: 1em;
  color: #292f2ff2;
  margin-bottom: 20px;
  margin-left: 12%;
}

.main-1-right a {
  margin-left: 15%;
}

.main-1-right a button {
  background-color: #f8a888;
  border: none;
  padding: 8px 40px;
  font-size: 16px;
  cursor: pointer;
  color: #000;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.main-1-right a button:hover {
  background-color: #fcc8b4c1;
}

/*-------------------------------------------------section-2--------------------------------------------------*/
.main-2 {
  margin-top: 80px;
}
.main-2-left {
  background-image: url("../img/sec-2-img.jpg");
  background-size: cover;
  background-position: center;
  width: 471px;
  height: 379px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-box {
  background-color: white;
  padding: 40px;
  text-align: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-1-txt {
  font-family: "Dancing Script", cursive;
  display: block;
  font-size: 24px;
  color: #333;
}
.left-2-txt {
  display: block;
  font-family: "Serif", serif;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
.shop-now {
  display: inline-block;
  font-size: 20px;
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid #333;
  transition: color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
}
.right-box {
  background-color: rgba(255, 255, 255, 0.856);
  padding: 40px;
  text-align: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-2-right {
  background-image: url("../img/a.jpg");
  background-size: cover;
  background-position: center;
  width: 471px;
  height: 379px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-now button {
  background-color: #cceaea;
  color: #2f2e2e;
  font-size: 20px;
  padding: 6px 25px;
  border: none;
  cursor: pointer;
}
/*-------------------------------------------------section-3--------------------------------------------------*/
.main-3 {
  margin-top: 13%;
}
.main-3-left-txt {
  font-size: 60px;
  color: #292f2f;
  line-height: 1.1em;
}
.main-left-2-txt {
  line-height: normal;
  font-size: 22px;
  font-family: "Dancing Script", cursive;
  color: #292f2f;
}
.main-3-text p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.7em;
  color: #292f2fc9;
}
.main-3-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  width: fit-content;
}
.main-3-right {
  max-width: 485px;
  height: 492px;
  position: relative;
  z-index: 10;
  margin: 60px auto;
  box-shadow: 0 0 0 5px #000;
}
.slider-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 60px;
}
.slider {
  display: flex;
  transition: transform 1s ease-in-out;
}
.slide {
  flex-shrink: 0;
}
.slide img {
  width: 485px;
  height: auto;
}
.main3-left-box {
  width: 548px;
  height: 686px;
  background-color: #cceaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}
.main-3-box-img {
  width: 448px;
  height: 500px;
}
.tropical-collection {
  text-align: center;
}
.tropical-collection span {
  display: block;
  font-size: 24px;
  letter-spacing: 0.15em;
  text-decoration: underline;
  color: #292f2fd6;
  margin-bottom: 15px;
}
.tropical-collection a {
  font-size: 18px;
  text-decoration: none;
  color: #292f2fd7;
  border-bottom: 1px solid #333;
  transition: color 0.3s, border-color 0.3s;
}
.tropical-collection a:hover {
  color: #555;
  border-bottom: 1px solid #555;
}
.main3-right-box {
  width: 548px;
  height: 686px;
  background-color: #f5e5d6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  margin-top: 100px;
}
.main3-left-box2 {
  width: 548px;
  height: 680px;
  background-color: #fff;
  box-shadow: 0 0 0 5px #000;
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}
.main-3-box-img2 {
  width: 448px;
  height: 500px;
  margin-top: -12px;
}
#POSTER_GAL {
  font-size: 26px;
  color: #292f2f;
  letter-spacing: 0.15em;
  margin-bottom: 40px;
}
#POSTER_GAL span:first-child {
  color: #333333df;
  font-size: 22px;
}
/*-------------------------------------------------section-4--------------------------------------------------*/
.main-4 {
  margin-top: 10%;
}
.image-container {
  position: relative;
}
.image-text {
  height: 238px;
  width: 473px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: #0000005a;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-text span {
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 12px;
}
.image-text p {
  font-size: 18px;
  line-height: 20px;
}
.image-container:hover .image-text {
  opacity: 1;
}
.image-slider-container {
  position: relative;
  width: 100%;
  height: 238px;
  overflow: hidden;
}
.image-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(423px * 5);
}
.image-slider img {
  height: 238px;
  width: 473px;
  flex-shrink: 0;
}
.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}
.slider-left-arrow {
  left: 10px;
}
.slider-right-arrow {
  right: 10px;
}
/*-------------------------------------------------footer--------------------------------------------------*/
.footer {
  margin: 100px 0 50px 0;
}
.ft-txt {
  display: block;
  font-size: 18px;
  color: #2f2e2ed0;
  margin-bottom: 10px;
}
.ft-label {
  display: block;
  font-size: 18px;
  padding-right: 24.7rem;
  margin-bottom: 10px;
}
input[type="email"] {
  width: 30%;
  padding: 10px;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}
.subscribe-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;
}
.check{
  margin-right: 10px;
}
.sub-span {
  font-size: 18px;
  color: #2f2e2ee5;
  margin-right: 36px;
}
.subscribe-btn {
  width: 108px;
  height: 40px;
  background-color: #fcb08c;
  color: #00000097;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  transition: background-color 0.3s ease;
  margin-top: 5px;
}
.subscribe-btn:hover {
  background-color: #fcb08cab;
}
.social-icons {
  margin: 35px 0 20px 0;
}

.social-icons a {
  color: #000;
  text-decoration: none;
  margin: 0 8px;
  font-size: 18px;
}
.footer-text {
  font-size: 16px;
  color: #2f2e2eaa;
  margin-top: 20px; 
  line-height: 1.6em;
}

.footer-text a {
  color: #2f2e2eaa;
  text-decoration: underline;
}

/* responsive for mobile view */
@media (max-width: 768px) {
  .main-site{
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  .main-1 .container-fluid {
    padding: 0;
    margin: 0;
    width: 100%; 
  }

  .main-1 .row {
    flex-direction: column;
    margin: 0;
    width: 100%; 
  }

  .col-6 {
    width: 100% !important; 
    padding: 0;
    margin: 0; 
  }

  .main-1-img {
    width: 100%; 
    height: auto;
  }

  .main-1-right {
    align-items: center;
    text-align: center;
    width: 100%; 
    padding: 20px;
  }

  .new-collection,
  .style-walls {
    margin-left: 0; 
  }

  .style-walls {
    font-size: 60px; 
  }

  .main-1-right a {
    margin-left: 0; 
  }

  .main-1-right a button {
    padding: 8px 30px; 
  }
}


@media (max-width: 768px) {
  .main-3 {
    padding: 0 15px;
  }

  .main-3 .container {
    max-width: 100%;
    padding: 0;
  }

  .main-3 .row {
    flex-direction: column;
  }

  .col-sm-6 {
    width: 100%;
    padding: 0;
  }

  .main-3-text {
    text-align: center;
    padding: 20px 0;
  }

  .main-3-left-txt,
  .main-left-2-txt,
  .tropical-collection span {
    font-size: 1.5rem; 
  }

  .main3-left-box,
  .main3-left-box2,
  .main3-right-box {
    margin-left: 0;
    margin-bottom: 30px;
    width: 100%;
    height: 80vh;
  }

  .main3-left-box img,
  .main3-left-box2 img,
  .main3-right-box img {
    width: 100%;
    height: auto;
  }

  .main-3-right {
    margin-bottom: 30px;
  }

  .slider-container {
    width: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
  }

  .slider {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
  }

  .slide {
    min-width: 100%;
  }

  .slide img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .main-3-left-txt,
  .main-left-2-txt,
  .tropical-collection span {
    font-size: 1.2rem; 
  }

  .main-3-text {
    padding: 10px 0;
  }
}
@media (max-width: 768px) {
  .image-slider-container {
    width: 100%;
    padding: 0;
  }

  .image-container {
    padding: 5px;
  }
 .image-container img{
  max-width: 100%;
 }
  .image-text {
    font-size: 14px;
    padding: 0 10px;
  }

  .slider-arrow {
    font-size: 20px;
    padding: 8px;
  }
}

/* For extra small screens */
@media (max-width: 576px) {
  .image-container {
    padding: 2px;
  }

  .image-text {
    font-size: 12px;
    padding: 0px 25px 0 0;
  }

  .slider-arrow {
    font-size: 18px;
    padding: 6px;
  }
}