* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-1-img {
  object-fit: cover;
  display: block;
}
.main-1-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  background-color: #d5eaec;
  text-align: center;
}

.new-collection {
  font-size: 26px;
  font-style: italic;
  letter-spacing: 0.05em;
  color: #6a6a6a;
  margin-left: 15%;
  margin-bottom: 5px;
}

.style-walls {
  font-size: 100px;
  line-height: 1em;
  color: #292f2ff2;
  margin-bottom: 20px;
  margin-left: 12%;
}
.main-1-right a{
  margin-left: 15%;
}
 .main-1-right a button {
  background-color: #f8a888;
  border: none;
  padding: 8px 40px;
  font-size: 16px;
  cursor: pointer;
  color: #000;
  margin-top: 20px;
  &:hover {
    background-color: #fcc8b4c1;
  }
}


