@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
.navbar {
  width: 100%;
  height: 120px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: relative;
}

.navbar-brand::before {
  content: "";
  position: absolute;
  left: 17px;
  bottom: 6px;
  width: 10px;
  height: 2px;
  background-color: #000;
}

.nav-link i {
  background-color: #fcb08c;
  border-radius: 50%;
  padding: 8px;
  font-size: 16px;
  color: #fff;
}

.nav-link-new, .nav-link-home {
  color: #fcb08c !important;
}

.nav-link:hover {
  color: #fcb08c !important;
  transition: color 0.4s ease;
}

.form-control {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
  border-color: #fcb08c;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container input {
  padding-left: 30px;
}

.search-container .search-icon {
  position: absolute;
  right: 30px;
  color: #888;
  font-size: 18px;
}

.search-container input {
  border-radius: 25px;
  border: 1px solid #ccc;
  padding: 10px 15px;
  width: 200px;
  transition: border-color 0.3s ease;
}